In [1]:
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import pandas as pd

# Prepare API

In [2]:
# Your key here
key = 'MXSJTESP5AWNK9TI'

In [3]:
ts = TimeSeries(key, output_format='pandas')
ti = TechIndicators(key, output_format='pandas')

stock = 'YNDX'

# Get time series data

In [7]:
data, meta_data = ts.get_daily(symbol=stock)
data.tail()

            1. open  2. high  3. low  4. close  5. volume
date
2020-02-10    48.21  48.2300   47.84     48.05  2440839.0
2020-02-11    48.60  48.7300   47.96     48.27  2229374.0
2020-02-12    48.50  48.9132   48.00     48.55  3567474.0
2020-02-13    48.40  48.9500   48.21     48.62  1718643.0
2020-02-14    47.05  47.8000   46.48     46.57  4130035.0

In [8]:
data.rename(columns={'1. open': 'open', '2. high': 'high', '3. low': 'low', 
                     '4. close': 'close', '5. volume': 'volume'}, 
            inplace=True)

In [9]:
data.describe()

             open        high         low       close        volume
count  100.000000  100.000000  100.000000  100.000000  1.000000e+02
mean    39.728165   40.161786   39.315258   39.786050  3.004312e+06
std      5.321681    5.349963    5.349529    5.400222  3.893003e+06
min     30.100000   30.350000   28.910000   29.760000  4.512370e+05
25%     34.415000   34.682500   34.030000   34.550000  1.574410e+06
50%     40.600000   41.325000   40.370000   40.840000  2.143414e+06
75%     43.972500   44.325000   43.600000   43.940000  3.006108e+06
max     48.760000   48.950000   48.210000   48.620000  3.446332e+07

# Get technical indicators

In [35]:
# Simple Moving Average - 10 days
sma_10, meta_sma_10 = ti.get_sma(stock, interval='daily', time_period=10)
sma_10.rename(columns={'SMA': 'sma_10'}, inplace=True)
# Simple Moving Average - 50 days
sma_50, meta_sma_50 = ti.get_sma(stock, interval='daily', time_period=50)
sma_50.rename(columns={'SMA': 'sma_50'}, inplace=True)
# Simple Moving Average - 200 days
sma_200, meta_sma_200 = ti.get_sma(stock, interval='daily', time_period=200)
sma_200.rename(columns={'SMA': 'sma_200'}, inplace=True)
# Momentum - 1 day
mom_1, meta_mom_1 = ti.get_mom(stock, interval='daily', time_period=1)
mom_1.rename(columns={'MOM': 'mom_1'}, inplace=True)
# Momentum - 20 day
mom_20, meta_mom_20 = ti.get_mom(stock, interval='daily', time_period=20)
mom_20.rename(columns={'MOM': 'mom_20'}, inplace=True)
# Momentum - 50 day
mom_50, meta_mom_50 = ti.get_mom(stock, interval='daily', time_period=50)
mom_50.rename(columns={'MOM': 'mom_50'}, inplace=True)
# RSI - 14 day
rsi_14, meta_rsi_14 = ti.get_rsi(stock, interval='daily', time_period=14)
rsi_14.rename(columns={'RSI': 'rsi_14'}, inplace=True)
# RSI - 7 day
rsi_7, meta_rsi_7 = ti.get_rsi(stock, interval='daily', time_period=7)
rsi_7.rename(columns={'RSI': 'rsi_7'}, inplace=True)
# Stochastic oscillator - 14 days faskK, 3 days fastD/slowK, 3 days slowD
# https://commodity.com/technical-analysis/stochastics/
# https://www.fmlabs.com/reference/default.htm?url=StochasticOscillator.htm
stoch_14_3_3, meta_stoch_14_3_3 = ti.get_stoch(stock, interval='daily', fastkperiod=14, slowkperiod=3, 
                                               slowdperiod=3, slowkmatype=0, slowdmatype=0)
# Double Exponential Moving Average - 10 days
dema_10, meta_dema_10 = ti.get_dema(stock, interval='daily', time_period=10)
dema_10.rename(columns={'DEMA': 'dema_10'}, inplace=True)
# Double Exponential Moving Average - 50 days
dema_50, meta_dema_50 = ti.get_dema(stock, interval='daily', time_period=50)
dema_50.rename(columns={'DEMA': 'dema_50'}, inplace=True)
# Average Directional Movement Index (ADX) - 14 days
adx_14, meta_adx_14 = ti.get_adx(stock, interval='daily', time_period=14)
# Commodity Channel Index (CCI) - 20 days
cci_20, meta_cci_20 = ti.get_cci(stock, interval='daily', time_period=20)
cci_20.rename(columns={'CCI': 'cci_20'}, inplace=True)
# Commodity Channel Index (CCI) - 10 days
cci_10, meta_cci_10 = ti.get_cci(stock, interval='daily', time_period=10)
cci_10.rename(columns={'CCI': 'cci_10'}, inplace=True)
Aroon (AROON) values (AroonUp/AroonDown) - 14 days
aroon_14, meta_aroon_14 = ti.get_aroon(stock, interval='daily', time_period=14)
# Money Flow Index (MFI) - 14 days
mfi_14, meta_mfi_14 = ti.get_mfi(stock, interval='daily', time_period=14)
# Accumulation/Distribution Line / Chaikin A/D (AD)
ad, meta_ad = ti.get_ad(stock, interval='daily')
# On Balance Volume (OBV)
obv, meta_obv = ti.get_obv(stock, interval='daily')

# Gather data

In [42]:
def join_dataframes(df1, df2, on, how='inner'):
    return df1.join(df2, on=on, how=how)

yndx_ti_df = join_dataframes(sma_10, sma_50, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, sma_200, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, mom_1, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, mom_20, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, mom_50, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, rsi_7, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, rsi_14, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, stoch_14_3_3, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, dema_10, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, dema_50, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, adx_14, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, cci_10, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, cci_20, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, aroon_14, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, mfi_14, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, ad, 'date')
yndx_ti_df = join_dataframes(yndx_ti_df, obv, 'date')

yndx_ti_df.columns = map(str.lower, yndx_ti_df.columns)

In [43]:
print(yndx_ti_df.shape)
yndx_ti_df.head()

(1998, 20)

,sma_10,sma_50,sma_200,mom_1,mom_20,mom_50,rsi_7,rsi_14,slowd,slowk,dema_10,dema_50,adx,cci_10,cci_20,aroon up,aroon down,mfi,chaikin a/d,obv
date,,,,,,,,,,,,,,,,,,,,
2012-03-08,22.644,20.7742,26.2690,0.81,2.05,3.99,72.0338,65.5979,80.6417,82.8128,23.4099,21.6818,20.1552,126.1261,147.4828,100.0000,64.2857,72.9569,2.303709e+07,37323300.0
2012-03-09,22.721,20.8538,26.1922,-0.48,1.33,3.98,61.6037,60.8129,81.6474,83.3853,23.5101,21.8213,20.7330,89.4548,113.4964,92.8571,57.1429,70.0291,2.249651e+07,36607400.0
2012-03-12,22.799,20.9166,26.1319,-0.53,1.67,3.14,51.9194,55.9592,81.6820,78.8480,23.4006,21.9118,20.4286,36.5167,63.8535,85.7143,50.0000,62.0019,2.195635e+07,35927200.0
2012-03-13,22.948,20.9966,26.0755,0.56,2.56,4.00,59.7242,59.6259,78.9440,74.5987,23.4972,22.0400,20.4946,68.5015,95.9298,78.5714,42.8571,73.1362,2.170431e+07,37878400.0
2012-03-14,23.228,21.0846,26.0238,0.60,2.60,4.40,66.5180,63.1646,77.9676,80.4562,23.7603,22.2067,20.8718,108.7285,125.1168,100.0000,35.7143,74.4537,2.333451e+07,40052000.0

In [44]:
yndx_ti_df.describe()

,sma_10,sma_50,sma_200,mom_1,mom_20,mom_50,rsi_7,rsi_14,slowd,slowk,dema_10,dema_50,adx,cci_10,cci_20,aroon up,aroon down,mfi,chaikin a/d,obv
count,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1998.000000,1.998000e+03,1.998000e+03
mean,27.297375,27.058766,26.528206,0.011727,0.243893,0.591193,51.903393,51.778019,52.782223,52.784286,27.353809,27.312276,24.356783,5.374724,10.001351,52.756327,44.608895,53.229534,3.766884e+07,1.116171e+08
std,8.355352,7.993345,7.062059,0.728044,3.035546,4.767871,16.920107,12.307894,27.020266,27.831198,8.473333,8.492530,8.800664,105.895185,113.014949,36.225141,36.208334,16.671588,2.821824e+07,5.153262e+07
min,11.034000,11.951700,13.980600,-6.390000,-11.230000,-16.390000,6.159200,15.678800,2.220700,1.521000,10.555400,10.731100,9.026000,-319.121100,-448.818400,0.000000,0.000000,4.934800,-4.619757e+07,4.584300e+06
25%,20.967250,20.927250,21.420850,-0.340000,-1.580000,-2.737500,39.567375,43.120750,28.010975,26.931700,20.932000,21.030000,17.072000,-80.103000,-77.669375,14.285700,7.142900,41.437125,2.154886e+07,6.885510e+07
50%,27.254000,27.198500,25.661350,0.010000,0.390000,1.330000,51.942550,51.507400,53.431100,53.526800,27.177000,27.200150,22.823600,8.013500,17.276850,57.142900,42.857100,53.103700,3.716397e+07,9.995355e+07
75%,33.794500,34.297400,33.523700,0.390000,2.180000,4.017500,64.000625,60.432800,77.459300,78.847700,34.066375,33.792525,30.497850,86.314550,96.537250,85.714300,78.571400,64.680375,5.681897e+07,1.612863e+08
max,47.901000,44.318500,38.705700,4.350000,9.190000,13.730000,93.815500,84.715600,98.037500,98.667100,48.807000,47.722700,50.837600,327.534900,443.322500,100.000000,100.000000,95.452200,8.953906e+07,2.282769e+08

In [45]:
yndx_ti_df.to_csv('yandex_tech_ind.csv')