In [1]:
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
from matplotlib.pyplot import figure
import matplotlib.pyplot as plt
import pandas as pd

# Prepare API

In [7]:
# Your key here
key = 'MXSJTESP5AWNK9TI'

In [13]:
ts = TimeSeries(key, output_format='pandas')
ti = TechIndicators(key, output_format='pandas')

stock = 'YNDX'

# Get time series data

In [22]:
data, meta_data = ts.get_daily(symbol=stock)
data.tail()

            1. open  2. high  3. low  4. close  5. volume
date
2020-01-27    43.74   44.960  43.630    44.565  2299713.0
2020-01-28    44.67   45.620  44.165    45.570  2199669.0
2020-01-29    45.76   46.575  45.495    46.110  3546615.0
2020-01-30    45.41   45.950  45.300    45.900  1675681.0
2020-01-31    45.50   45.550  44.590    44.810  2639756.0

In [23]:
data.rename(columns={'1. open': 'open', '2. high': 'high', '3. low': 'low', 
                     '4. close': 'close', '5. volume': 'volume'}, 
            inplace=True)

In [24]:
data.describe()

             open        high         low       close        volume
count  100.000000  100.000000  100.000000  100.000000  1.000000e+02
mean    38.715665   39.122654   38.293708   38.731900  2.927274e+06
std      4.584432    4.623488    4.631588    4.685531  3.918022e+06
min     30.100000   30.350000   28.910000   29.760000  4.512370e+05
25%     34.415000   34.682500   34.030000   34.550000  1.451836e+06
50%     38.550000   39.925000   38.450000   39.750000  2.071992e+06
75%     43.172500   43.552500   42.883750   43.215000  2.837248e+06
max     45.760000   46.575000   45.495000   46.110000  3.446332e+07

# Get technical indicators

In [30]:
# Simple Moving Average - 50 days
sma_50, meta_sma_50 = ti.get_sma(stock, interval='daily', time_period=50)
sma_50.rename(columns={'SMA': 'sma_50'}, inplace=True)
# Simple Moving Average - 200 days
sma_200, meta_sma_200 = ti.get_sma(stock, interval='daily', time_period=200)
sma_200.rename(columns={'SMA': 'sma_200'}, inplace=True)
# Momentum - 1 day
mom_1, meta_mom_1 = ti.get_mom(stock, interval='daily', time_period=1)
# Momentum - 20 day
mom_20, meta_mom_20 = ti.get_mom(stock, interval='daily', time_period=20)
# Momentum - 50 day
mom_50, meta_mom_50 = ti.get_mom(stock, interval='daily', time_period=50)
# RSI - 14 day
rsi_14, meta_rsi_14 = ti.get_rsi(stock, interval='daily', time_period=14)
# Stochastic oscillator - 14 days faskK, 3 days fastD/slowK, 3 days slowD
# https://commodity.com/technical-analysis/stochastics/
# https://www.fmlabs.com/reference/default.htm?url=StochasticOscillator.htm
stoch_14_3_3, meta_stoch_14_3_3 = ti.get_stoch(stock, interval='daily', fastkperiod=14, slowkperiod=3, 
                                               slowdperiod=3, slowkmatype=0, slowdmatype=0)

In [32]:
stoch_14_3_3

              SlowK    SlowD
date
2011-06-17  12.7158   9.7008
2011-06-20  13.8211  11.9439
2011-06-21  17.3055  14.6141
2011-06-22  16.7247  15.9504
2011-06-23  22.0337  18.6880
2011-06-24  24.9461  21.2349
2011-06-27  36.0656  27.6818
2011-06-28  57.7621  39.5912
2011-06-29  78.9500  57.5926
2011-06-30  94.4187  77.0436
2011-07-01  94.2474  89.2054
2011-07-05  84.1344  90.9335
2011-07-06  73.1862  83.8560
2011-07-07  65.3052  74.2086
2011-07-08  74.7555  71.0823
2011-07-11  73.3976  71.1528
2011-07-12  68.2934  72.1489
2011-07-13  58.3448  66.6786
2011-07-14  57.0870  61.2417
2011-07-15  60.5222  58.6513
2011-07-18  63.0455  60.2182
2011-07-19  66.5241  63.3639
2011-07-20  61.5907  63.7201
2011-07-21  52.7187  60.2778
2011-07-22  51.8744  55.3946
2011-07-25  64.9124  56.5018
2011-07-26  71.7297  62.8388
2011-07-27  77.9207  71.5209
2011-07-28  73.4489  74.3664
2011-07-29  62.5989  71.3228
...             ...      ...
2019-12-18  63.8028  76.1598
2019-12-19  62.7230  68.3568
2019-12-20  74.1784  66.9014
2019-12-23  86.6749  74.5254
2019-12-24  92.8125  84.5553
2019-12-26  94.8374  91.4416
2019-12-27  93.9628  93.8709
2019-12-30  88.5343  92.4448
2019-12-31  82.7092  88.4021
2020-01-02  83.4048  84.8828
2020-01-03  76.7913  80.9684
2020-01-06  68.5189  76.2383
2020-01-07  56.2527  67.1876
2020-01-08  63.0435  62.6050
2020-01-09  75.9374  65.0779
2020-01-10  78.6340  72.5383
2020-01-13  76.5201  77.0305
2020-01-14  57.5062  70.8868
2020-01-15  42.8333  58.9532
2020-01-16  40.0000  46.7799
2020-01-17  60.9062  47.9132
2020-01-21  82.3764  61.0942
2020-01-22  89.3866  77.5564
2020-01-23  80.3231  84.0287
2020-01-24  81.1471  83.6190
2020-01-27  72.1049  77.8584
2020-01-28  79.4046  77.5522
2020-01-29  79.1981  76.9025
2020-01-30  86.2497  81.6175
2020-01-31  71.3934  78.9471

[2170 rows x 2 columns]

In [26]:
# mom_1, meta_mom_1 = ti.get_mom(stock, interval='daily', time_period=1)
mom_1

              MOM
date
2011-05-25 -3.840
2011-05-26 -0.230
2011-05-27 -0.320
2011-05-31 -1.000
2011-06-01 -1.200
2011-06-02  1.270
2011-06-03 -0.020
2011-06-06  0.730
2011-06-07  0.770
2011-06-08 -1.710
2011-06-09 -0.500
2011-06-10 -0.966
2011-06-13 -0.494
2011-06-14  0.270
2011-06-15 -1.330
2011-06-16  0.260
2011-06-17  0.280
2011-06-20 -0.490
2011-06-21  0.810
2011-06-22 -0.420
2011-06-23  0.460
2011-06-24  0.380
2011-06-27  0.950
2011-06-28  1.490
2011-06-29  0.790
2011-06-30  0.730
2011-07-01  0.180
2011-07-05 -1.605
2011-07-06 -0.155
2011-07-07  0.220
...           ...
2019-12-18  0.020
2019-12-19  0.760
2019-12-20  0.440
2019-12-23  0.420
2019-12-24  0.090
2019-12-26  0.060
2019-12-27  0.170
2019-12-30 -0.460
2019-12-31  0.050
2020-01-02  0.590
2020-01-03 -0.870
2020-01-06 -0.110
2020-01-07  0.065
2020-01-08  0.605
2020-01-09  0.770
2020-01-10 -0.480
2020-01-13  0.240
2020-01-14 -0.770
2020-01-15 -0.300
2020-01-16  0.900
2020-01-17  1.270
2020-01-21 -0.350
2020-01-22  0.305
2020-01-23 -0.455
2020-01-24  0.480
2020-01-27 -0.815
2020-01-28  1.005
2020-01-29  0.540
2020-01-30 -0.210
2020-01-31 -1.090

[2186 rows x 1 columns]

In [28]:
pd.concat([yndx_ti_df, mom_1, data['close']], axis=1, join='inner')

             sma_50  sma_200    MOM   close
date
2019-09-10  37.9890  34.9712  0.000  37.480
2019-09-11  37.9576  35.0126  0.180  37.660
2019-09-12  37.9186  35.0597  0.080  37.740
2019-09-13  37.8896  35.1043  0.140  37.880
2019-09-16  37.8662  35.1491  0.150  38.030
2019-09-17  37.8454  35.1879 -0.350  37.680
2019-09-18  37.8030  35.2287 -0.350  37.330
2019-09-19  37.7554  35.2684  0.110  37.440
2019-09-20  37.6714  35.2972 -1.670  35.770
2019-09-23  37.5965  35.3367  0.815  36.585
2019-09-24  37.5071  35.3737 -0.575  36.010
2019-09-25  37.4313  35.4127  0.470  36.480
2019-09-26  37.3633  35.4540 -0.310  36.170
2019-09-27  37.2763  35.4961 -0.910  35.260
2019-09-30  37.1965  35.5277 -0.250  35.010
2019-10-01  37.0999  35.5620 -0.250  34.760
2019-10-02  36.9879  35.5921 -0.730  34.030
2019-10-03  36.8867  35.6293  0.900  34.930
2019-10-04  36.8257  35.6701  0.430  35.360
2019-10-07  36.7905  35.7102 -0.080  35.280
2019-10-08  36.7117  35.7508  0.120  35.400
2019-10-09  36.6475  35.7969  0.260  35.660
2019-10-10  36.5743  35.8393 -0.100  35.560
2019-10-11  36.4091  35.8503 -5.570  29.990
2019-10-14  36.2643  35.8640  0.310  30.300
2019-10-15  36.1479  35.8771  0.220  30.520
2019-10-16  36.0099  35.8913 -0.320  30.200
2019-10-17  35.8849  35.9052  0.090  30.290
2019-10-18  35.7329  35.9200 -0.530  29.760
2019-10-21  35.6489  35.9410  3.000  32.760
...             ...      ...    ...     ...
2019-12-18  36.5812  36.9840  0.020  41.960
2019-12-19  36.7224  37.0215  0.760  42.720
2019-12-20  36.8744  37.0618  0.440  43.160
2019-12-23  37.1462  37.0997  0.420  43.580
2019-12-24  37.4136  37.1402  0.090  43.670
2019-12-26  37.6778  37.1802  0.060  43.730
2019-12-27  37.9518  37.2213  0.170  43.900
2019-12-30  38.2148  37.2586 -0.460  43.440
2019-12-31  38.4894  37.2962  0.050  43.490
2020-01-02  38.7158  37.3369  0.590  44.080
2020-01-03  38.9364  37.3742 -0.870  43.210
2020-01-06  39.1588  37.4103 -0.110  43.100
2020-01-07  39.3681  37.4495  0.065  43.165
2020-01-08  39.5981  37.4897  0.605  43.770
2020-01-09  39.8173  37.5345  0.770  44.540
2020-01-10  40.0253  37.5806 -0.480  44.060
2020-01-13  40.2399  37.6241  0.240  44.300
2020-01-14  40.4427  37.6700 -0.770  43.530
2020-01-15  40.6303  37.7163 -0.300  43.230
2020-01-16  40.8281  37.7623  0.900  44.130
2020-01-17  41.0457  37.8155  1.270  45.400
2020-01-21  41.2627  37.8675 -0.350  45.050
2020-01-22  41.4884  37.9183  0.305  45.355
2020-01-23  41.7032  37.9640 -0.455  44.900
2020-01-24  41.9262  38.0110  0.480  45.380
2020-01-27  42.1401  38.0466 -0.815  44.565
2020-01-28  42.3739  38.0854  1.005  45.570
2020-01-29  42.6049  38.1215  0.540  46.110
2020-01-30  42.8071  38.1560 -0.210  45.900
2020-01-31  42.9019  38.1859 -1.090  44.810

[100 rows x 4 columns]

In [15]:
yndx_ti_df = pd.DataFrame()

In [18]:
sma_50, meta_sma_50 = ti.get_sma(stock, interval='daily', time_period=50)
sma_50.rename(columns={'SMA': 'sma_50'}, inplace=True)
yndx_ti_df = pd.concat([yndx_ti_df, sma_50], axis=1, join='outer')

sma_200, meta_sma_200 = ti.get_sma(stock, interval='daily', time_period=200)
sma_200.rename(columns={'SMA': 'sma_200'}, inplace=True)
yndx_ti_df = pd.concat([yndx_ti_df, sma_200], axis=1, join='outer')

In [20]:
sma_200.head()

            sma_200
date
2012-03-08  26.2690
2012-03-09  26.1922
2012-03-12  26.1319
2012-03-13  26.0755
2012-03-14  26.0238

In [21]:
yndx_ti_df.dropna()

             sma_50  sma_200
date
2012-03-08  20.7742  26.2690
2012-03-09  20.8538  26.1922
2012-03-12  20.9166  26.1319
2012-03-13  20.9966  26.0755
2012-03-14  21.0846  26.0238
2012-03-15  21.1692  25.9764
2012-03-16  21.2798  25.9385
2012-03-19  21.3838  25.8934
2012-03-20  21.4922  25.8460
2012-03-21  21.6018  25.7959
2012-03-22  21.6996  25.7397
2012-03-23  21.7958  25.6933
2012-03-26  21.9004  25.6507
2012-03-27  22.0274  25.6163
2012-03-28  22.1614  25.5847
2012-03-29  22.2980  25.5534
2012-03-30  22.4604  25.5364
2012-04-02  22.6257  25.5188
2012-04-03  22.7903  25.4981
2012-04-04  22.9367  25.4767
2012-04-05  23.0733  25.4542
2012-04-09  23.1875  25.4336
2012-04-10  23.2849  25.4056
2012-04-11  23.4051  25.3791
2012-04-12  23.5297  25.3495
2012-04-13  23.6479  25.3123
2012-04-16  23.7493  25.2707
2012-04-17  23.8555  25.2288
2012-04-18  23.9637  25.1849
2012-04-19  24.0797  25.1510
...             ...      ...
2019-12-18  36.5812  36.9840
2019-12-19  36.7224  37.0215
2019-12-20  36.8744  37.0618
2019-12-23  37.1462  37.0997
2019-12-24  37.4136  37.1402
2019-12-26  37.6778  37.1802
2019-12-27  37.9518  37.2213
2019-12-30  38.2148  37.2586
2019-12-31  38.4894  37.2962
2020-01-02  38.7158  37.3369
2020-01-03  38.9364  37.3742
2020-01-06  39.1588  37.4103
2020-01-07  39.3681  37.4495
2020-01-08  39.5981  37.4897
2020-01-09  39.8173  37.5345
2020-01-10  40.0253  37.5806
2020-01-13  40.2399  37.6241
2020-01-14  40.4427  37.6700
2020-01-15  40.6303  37.7163
2020-01-16  40.8281  37.7623
2020-01-17  41.0457  37.8155
2020-01-21  41.2627  37.8675
2020-01-22  41.4884  37.9183
2020-01-23  41.7032  37.9640
2020-01-24  41.9262  38.0110
2020-01-27  42.1401  38.0466
2020-01-28  42.3739  38.0854
2020-01-29  42.6049  38.1215
2020-01-30  42.8071  38.1560
2020-01-31  42.9019  38.1859

[1988 rows x 2 columns]